<div class="card text-black">
    <div class="card-header">
        Buzzer
    </div>
    <div class="card-body">
        <button @ref="@(this.button)" class="buzzer btn btn-outline-primary w-100" @onclick="this.CallbackBuzzerAsync" disabled="@(this.AlreadyResponse)">Buzz !!</button>
    </div>
</div>


