<div class="card text-black">
    <div class="card-header">
        Proposition
    </div>
    <div class="card-body">
        <EditForm Model="this.Response">
            <fieldset disabled="@this.AlreadyResponse">
                <input class="form-control" type="text" placeholder="Réponse" @bind="this.Response"/>
                <button class="btn btn-success w-100" @onclick="this.Callback">Valider</button>
            </fieldset>
        </EditForm>
    </div>
</div>

@code {

    public string Response { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> ResponseCallback { get; set; }

    [Parameter]
    public bool AlreadyResponse { get; set; }

    private async Task Callback()
    {
        await this.ResponseCallback.InvokeAsync(this.Response).ConfigureAwait(true);
        this.Response = string.Empty;
    }

}