@inherits PlayerLayoutBase
@using SpeedGameApp.DataEnum

<PageTitle>SpeedGameApp - Jeu</PageTitle>

@* Apply party-specific theme *@
<ThemeProvider Theme="@CurrentTheme">
    <div class="min-h-screen">
        <article class="p-6">
            @Body
        </article>
    </div>
</ThemeProvider>
